In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:/Users/mohdz/OneDrive/Desktop/Mini_Project/data/raw/co2_world_data.csv')
df.head()

   year  month   decimal  average  average_unc   trend  trend_unc
0  1979      1  1979.042   336.56         0.10  335.92       0.09
1  1979      2  1979.125   337.29         0.09  336.25       0.09
2  1979      3  1979.208   337.88         0.10  336.51       0.09
3  1979      4  1979.292   338.32         0.11  336.72       0.09
4  1979      5  1979.375   338.26         0.04  336.71       0.10

In [5]:
df = df[['year','month','average']]
df = df.rename(columns={"average": "co2"})
df.head()

   year  month     co2
0  1979      1  336.56
1  1979      2  337.29
2  1979      3  337.88
3  1979      4  338.32
4  1979      5  338.26

In [7]:
df['date'] = pd.to_datetime(df[['year', 'month']].assign(day=1))
df = df.set_index(df.date)
df = df[['co2']]
df.head()

               co2
date
1979-01-01  336.56
1979-02-01  337.29
1979-03-01  337.88
1979-04-01  338.32
1979-05-01  338.26

In [9]:
df.to_csv('C:/Users/mohdz/OneDrive/Desktop/Mini_Project/data/processed/co2_world.csv')
print('Preprocessed and saved co2 world data')

Preprocessed and saved co2 world data